@using ChefsDishes.Models
@model Chef

    <h1>Add a Chef!</h1>
    <br>
    <a href="/">Home</a>
    <form asp-action="AddChef" asp-controller="Home" method="POST">
        <div class="form-group">
            <label asp-for="First_Name">First Name</label>
            <input type="text" asp-for="First_Name" class="form-control">
            <span asp-validation-for="First_Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Last_Name">Last Name</label>
            <input type="text" asp-for="Last_Name" class="form-control">
            <span asp-validation-for="Last_Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Birthday">Birthday</label>
            <input type="date" asp-for="Birthday" class="form-control">
            <span asp-validation-for="Birthday"></span>
        </div>
        <div class="form-group">
            <button type="submit">Add Chef!</button>
        </div>
    </form>
