<h1>Wedding form</h1>
@using WeddingPlanner.Models
@model Wedding
<form asp-controller="Home" asp-action="NewWedding" method="POST">
  <div class="form-group">
    <span asp-validation-for="WedderOne"></span>
    <label asp-for="WedderOne">Wedder One:</label>
    <input class="form-control" asp-for="WedderOne">
  </div>
  <div class="form-group">
    <span asp-validation-for="WedderTwo"></span>
    <label asp-for="WedderTwo">Wedder Two:</label>
    <input class="form-control" asp-for="WedderTwo">
  </div>
  <div class="form-group">
    <span asp-validation-for="Date"></span>
    <label asp-for="Date">Date:</label>
    <input class="form-control" asp-for="Date">
  </div>
  <div class="form-group">
    <span asp-validation-for="Address"></span>
    <label asp-for="Address">Wedding Address:</label>
    <input class="form-control" asp-for="Address">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>