@using QuotingDojo.Models
@model UserQuotes

<h1>Welcome to QuotingDojo</h1>
<div class="form-group">
    <form asp-action="Create" asp-controller="Home" method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
        <br>
        <label asp-for="Quote"></label>
        <textarea asp-for="Quote" rows="6" class="form-control"></textarea>
        <span asp-validation-for="Quote" class="text-danger"></span>
        <br>
        <input type="submit" class="btn btn-primary btn-lg" id="submitbtn" value="Add my quote!">
        <a href="quotes" class="btn btn-primary btn-lg" role="button">Skip to quotes!</a>
    </form>
</div>