<h1> Passcode </h1>
    <p name="count">This is random passcode number : @ViewBag.CountNumber </p>
    <div>
        <form action="" method="get">
            <p>@ViewBag.newcode</p>
            <button type="submit"> Generate Another Number </button>
        </form>

</div>